In [1]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# Files to Load
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [2]:
# Calculate the total number of unique schools
total_unique_schools = school_data_complete['school_name'].nunique()
print(f'Total number of unique schools: {total_unique_schools}')

Total number of unique schools: 15

In [3]:
# Calculate the total number of students
student_count = school_data_complete ['Student ID'].nunique()
print(f'Total number of students: {student_count}')

Total number of students: 39170

In [4]:
# Create a DataFrame from school_data_complete
df = pd.DataFrame(school_data_complete)

# Calculate the total budget by summing the 'budget' column
total_budget = df['budget'].sum()

print(total_budget)

82932329558

In [5]:
# Calculate the average (mean) math score
average_math_score = df['math_score'].mean()
print(average_math_score)

78.98537145774827

In [6]:
# Calculate the average (mean) reading score
average_reading_score = df ['reading_score'].mean()
print(average_reading_score)

81.87784018381414

In [7]:
# Calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["Student ID"]
passing_math_percentage = passing_math_count / float(student_count) * 100
print(passing_math_percentage)

74.9808526933878

In [8]:
# Calculate the percentage of students who passed reading
passing_reading_count = school_data_complete [(school_data_complete["reading_score"] >= 70)].count()["Student ID"]
passing_reading_percentage = passing_reading_count/float(student_count) * 100
print(passing_reading_percentage)

85.80546336482001

In [9]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["Student ID"]
overall_passing_rate = passing_math_reading_count /float(student_count)* 100
print(overall_passing_rate)

65.17232575950983

In [10]:
# District Summary: create a high-level snapshot of the district's key metrics in a DataFrame.
# Include the following: 
# Total number of unique schools
# Total students
# Total budget
# Average math score
# Average reading score
# % passing math (the percentage of students who passed math)
# % passing reading (the percentage of students who passed reading)
# % overall passing (the percentage of students who passed math AND reading)

# Create a DataFrame
district_summary = {"Total School Count":[total_unique_schools],"Total Students":[student_count],
                    "Total Budget":[total_budget],"Average Math Score": 
                    [average_math_score], "Average Reading Score":[average_reading_score], 
                    "Percentage of Students Proficient in Math":[passing_math_percentage],
                    "Percentage of Students Proficient in Reading": [passing_reading_percentage],
                    "Percentage of Students Meeting Proficiency in Math and Reading":[overall_passing_rate]}
district_summary_df = pd.DataFrame(district_summary)

# Display the DataFrame
district_summary_df

,Total School Count,Total Students,Total Budget,Average Math Score,Average Reading Score,Percentage of Students Proficient in Math,Percentage of Students Proficient in Reading,Percentage of Students Meeting Proficiency in Math and Reading
0,15,39170,82932329558,78.985371,81.87784,74.980853,85.805463,65.172326

In [11]:
# Group by school_name to get the school types
school_types = school_data_complete.groupby("school_name")["type"].first().reset_index()
school_types = school_types.rename(columns={"type": "school_type"})  # Rename the column to "school_type"

# Merge the school types back to the original DataFrame based on school_name
school_data_with_types = pd.merge(school_data_complete, school_types, on="school_name")

# Display the school names and their corresponding types
print(school_data_with_types[["school_name", "school_type"]])

              school_name school_type
0       Huang High School    District
1       Huang High School    District
2       Huang High School    District
3       Huang High School    District
4       Huang High School    District
...                   ...         ...
39165  Thomas High School     Charter
39166  Thomas High School     Charter
39167  Thomas High School     Charter
39168  Thomas High School     Charter
39169  Thomas High School     Charter

[39170 rows x 2 columns]

In [12]:
# Calculate the total student count per school from school_data_complete
student_count_per_school = school_data_complete.groupby("school_name").size()

In [13]:
# Calculate the total school budget per school
per_school_budget = school_data_complete.groupby("school_name")["budget"].sum()

# Calculate the per capita spending per school
per_school_capita = per_school_budget/student_count_per_school

In [14]:
# Calculate the average Math scores per school from school_data_complete. Use group_by with an aggregate function.
school_data_complete.groupby("school_name").mean(numeric_only=True)["math_score"]

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [15]:
# Calculate the average Reading scores per school
school_data_complete.groupby("school_name").mean(numeric_only=True)["reading_score"]

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [16]:
# Filter the rows where math score is 70 or higher
passing_math = school_data_complete[school_data_complete["math_score"] >= 70]

# Group by school name and count the number of students
students_per_school_passing_math = passing_math.groupby("school_name")["Student ID"].count()
#print(students_per_school_passing_math)

In [17]:
# Filter the rows where Reading score is 70 or higher
passing_reading = school_data_complete[school_data_complete["reading_score"] >= 70]

# Group by school name and count the number of students
students_per_school_passing_reading = passing_reading.groupby("school_name")["Student ID"].count()

In [18]:
# Calculate the number of students per school that passed both math and reading with scores of 70 or higher
students_passing_math_and_reading = school_data_complete[
    (school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)
]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()

In [19]:
# Calculate the passing rates
per_school_passing_math = students_per_school_passing_math / student_count_per_school * 100
per_school_passing_reading = students_per_school_passing_reading / student_count_per_school * 100
overall_passing_rate = school_students_passing_math_and_reading / student_count_per_school * 100
#print(overall_passing_rate)

In [24]:
# Create the per_school_summary dictionary
per_school_summary = {
    #"School Name": school_name,
    "School Type": school_types,
    "Total Students": student_count_per_school,
    "Total School Budget": per_school_budget,
    "Per Student Budget": per_school_capita,
    "Average Math Score": average_math_score,
    "Average Reading Score": average_reading_score,
    "Percent Passing Math": per_school_passing_math,
    "Passing Reading": per_school_passing_reading,
    "Percent Overall Passing": overall_passing_rate
}

# Create the per_school_summary DataFrame
per_school_summary_df = pd.DataFrame(per_school_summary)

# Display the DataFrame
per_school_summary_df

ValueError: 2

In [ ]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
top_schools =
top_schools.head(5)

In [ ]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
bottom_schools =
bottom_schools.head(5)

In [ ]:
# Calculate Math Scores by Grade
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the `math_score` column for each.
ninth_grade_math_scores =
tenth_grader_math_scores =
eleventh_grader_math_scores =
twelfth_grader_math_scores =

# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
math_scores_by_grade =

# Minor data wrangling
math_scores_by_grade.index.name = None

# Display the DataFrame
math_scores_by_grade

In [ ]:
#Calculate Reading Scores by Grade
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the the `reading_score` column for each.
ninth_grade_reading_scores =
tenth_grader_reading_scores =
eleventh_grader_reading_scores =
twelfth_grader_reading_scores =

# Combine each of the scores above into single DataFrame called `reading_scores_by_grade`
reading_scores_by_grade =

# Minor data wrangling
reading_scores_by_grade = reading_scores_by_grade[["9th", "10th", "11th", "12th"]]
reading_scores_by_grade.index.name = None

# Display the DataFrame
reading_scores_by_grade

In [ ]:
# Calculate Scores by School Spending
# Establish the bins
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [ ]:
# Create a copy of the school summary since it has the "Per Student Budget"
school_spending_df = per_school_summary.copy()

In [ ]:
# Use `pd.cut` to categorize spending based on the bins.
school_spending_df["Spending Ranges (Per Student)"] =
school_spending_df

In [ ]:
#  Calculate averages for the desired columns.
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()

In [ ]:
# Assemble into DataFrame
spending_summary =

# Display results
spending_summary

In [ ]:
# Calculate Scores by School Size
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [ ]:
# Categorize the spending based on the bins
# Use `pd.cut` on the "Total Students" column of the `per_school_summary` DataFrame.

per_school_summary["School Size"] =
per_school_summary

In [ ]:
# Calculate averages for the desired columns.
size_math_scores = per_school_summary.groupby(["School Size"])["Average Math Score"].mean()
size_reading_scores = per_school_summary.groupby(["School Size"])["Average Reading Score"].mean()
size_passing_math = per_school_summary.groupby(["School Size"])["% Passing Math"].mean()
size_passing_reading = per_school_summary.groupby(["School Size"])["% Passing Reading"].mean()
size_overall_passing = per_school_summary.groupby(["School Size"])["% Overall Passing"].mean()

In [ ]:
# Create a DataFrame called `size_summary` that breaks down school performance based on school size (small, medium, or large).
# Use the scores above to create a new DataFrame called `size_summary`
size_summary =

# Display results
size_summary

In [ ]:
# Group the per_school_summary DataFrame by "School Type" and average the results.
average_math_score_by_type = per_school_summary.groupby(["School Type"])["Average Math Score"].mean()
average_reading_score_by_type = per_school_summary.groupby(["School Type"])["Average Reading Score"].mean()
average_percent_passing_math_by_type = per_school_summary.groupby(["School Type"])["% Passing Math"].mean()
average_percent_passing_reading_by_type = per_school_summary.groupby(["School Type"])["% Passing Reading"].mean()
average_percent_overall_passing_by_type = per_school_summary.groupby(["School Type"])["% Overall Passing"].mean()

In [ ]:
# Assemble the new data by type into a DataFrame called `type_summary`
type_summary =

# Display results
type_summary

In [ ]:
# # Apply formatting using map function? Do this later
# district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
# district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)
# district_summary["Average Math Score"] = (district_summary["Average Math Score"]*100).map("{:.1f}%".format)
# district_summary["Average Reading Score"] = (district_summary["Average Reading Score"]*100).map("{:.1f}%".format)

# # Display the DataFrame
# print(district_summary)